@model IList<BullardEncuestas.Core.DTO.SeccionDTO>
@{
    if (Model == null)
    {
        ViewBag.Title = "Encuesta";
    }
    else { ViewBag.Title = ViewBag.EncuestaNombre; }
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";


}

<section class="vbox">
    <section class="scrollable padder">
        <div class="row m-b">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <h2>Editar Encuesta</h2>
                @Html.ValidationSummary(true)
                <div class="row m-b">
                    <div class="col-xs-12 col-md-12">
                        @Html.Partial("_showAlertMessages")
                        <section class="panel panel-default">
                            <header class="panel-heading font-bold">

                                <div class="col-md-4">
                                    @ViewBag.EncuestaPeriodo / @ViewBag.EncuestaNombre
                                </div>
                                <div class="col-md-4">
                                    <a class="btn btn-sm btn-success pull-right btn-rounded"><i class="fa fa-plus"></i> Configuración</a>
                                </div>
                                <div class="col-md-4">
                                    <a class="btn btn-sm btn-success pull-right btn-rounded"><i class="fa fa-plus"></i> Nueva Encuesta</a>
                                </div>

                            </header>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label>Información de la Encuesta</label>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
