@model BullardEncuestas.Core.DTO.EncuestaEvaluadorDTO
@{
    if (Model == null)
    {
        ViewBag.Title = "Encuesta Evaluador";
    }
    else { ViewBag.Title = ViewBag.EncuestaNombre; }
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="vbox">
    <section class="scrollable padder">
        <div class="row m-b">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                <h2>Periodo / Encuesta</h2>
                @Html.ValidationSummary(true)
                <div class="row m-b">
                    <div class="col-xs-12 col-md-9">
                        @Html.Partial("_showAlertMessages")
                        <section class="panel panel-default">
                            @*<header class="panel-heading affix" style="min-height:inherit; min-width:641%; overflow-x:auto">*@
                            <header class="panel-heading mi-head">
                                @*min-height:50px 130 641*@
                                <p>
                                    <div class="font-bold">Instrucciones:</div><div>Estas son las instrucciones base</div>
                                </p>
                                <p>
                                    <div class="font-bold">Leyenda:</div><div>Malo 1 - Deficient 2 - Regular 3 - Bueno 4 - Excelente 5</div>
                                </p>
                            </header>
                            <div class="panel-body">
                                <div class="panel-header">
                                    <div class="table-responsive">
                                        <table class="table table-striped m-b-none">
                                            <thead>
                                                <tr>
                                                    <th>Nombres</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="rotate"><div><span>Antonio Rodriguez</span></div></td>
                                                    <td class="rotate"><div><span>Rodrigo Sarria</span></div></td>
                                                    <td class="rotate"><div><span>Evert Huamani</span></div></td>
                                                    <td class="rotate"><div><span>Wilder Tarazona</span></div></td>
                                                    <td class="rotate"><div><span>Boris Herrera</span></div></td>
                                                    @*<td class="rotate"><div><span></span></div>Melissa Loza</td>
                                                        <td class="rotate"><div><span></span></div>Tilsa Lozano</td>
                                                        <td class="rotate"><div><span></span></div>Vanessa Tello</td>*@
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    @*<div class="list-group bg-white" style="rotation:90deg;">
                                            <a href="#" class="list-group-item">Inbox </a>

                                        </div>*@
                                </div>
                                <div>
                                    <p>
                                        Assassin's Creed es una serie de videojuegos, Cómics, Libros,y Películas histórico-ficticia de acción-aventura, mundo abierto y sigilo que consta de videojuegos principales y Spin-off's. Los juegos han aparecido en las plataformas PlayStation 3, PlayStation 4, Xbox 360, Xbox One, Microsoft Windows, Mac OS X, Nintendo DS, Wii U, PlayStation Portable, PlayStation Vita, iOS, webOS HP, Android, Nokia Symbian, Windows Phone. Los juegos principales de la franquicia han sido desarrollados por Ubisoft Montreal (Modo de un solo jugador) y Ubisoft Annecy (Modo multijugador) y los títulos portátiles por Gameloft y Gryptonite Studios, con Ubisoft Montreal como desarrollador adicional. La serie ha sido muy bien recibida por el público y la crítica, y ha vendido más de 73 millones de copias hasta abril de 2014. La serie se inspiró en la novela Alamut del escritor esloveno Vladimir Bartol, y es considerada por algunos como el sucesor espiritual de la saga Prince of Persia.
                                        La saga gira, principalmente, en torno la rivalidad entre dos antiguas sociedades secretas: los Assassins (asesinos) y los Templarios, y su relación indirecta a una antigua especie anterior a la humanidad; cuya sociedad, junto con gran parte de la biosfera de la Tierra, fue destruido por una enorme tormenta solar.

                                        La saga nos sitúa en el año 2012, y cuenta con el protagonista Desmond Miles, un camarero que es descendiente de varias líneas de Assassins prominentes. Aunque fue criado como un Asesino, Desmond huyó de su familia nómada en busca de un estilo de vida más común. Es entonces cuando es secuestrado, inicialmente, por la megacorporación Abstergo Industries, la sede de la moderna Orden del Temple, que son conscientes del linaje de Desmond. Desmond se ve obligado a utilizar el "Animus", un dispositivo que le permite experimentar sus recuerdos ancestrales a través de su ADN. Abstergo está tratando de descubrir la ubicación de varios artefactos misteriosos, los llamados "Fragmentos del Edén", que guardan un gran poder, el cual es capaz de controlar la humanidad y alterar su destino.

                                        Desmond también se encuentra con un pequeño equipo de Assassins de hoy en día. Acordando trabajar con ellos, Desmond utiliza su versión del Animus (el Animus 2.0) para continuar experimentando los recuerdos de sus antepasados ​​para descubrir los lugares de Los Fragmentos del Edén restantes con la misión de recuperarlos antes de que Abstergo pueda hacerlo. Mientras experimenta estos recuerdos, algunas de sus habilidades se filtró genéticamente en Desmond, siendo este hecho conocido como el Efecto Sangrado, dándole algunas de las habilidades de Asesino que sus predecesores habían perfeccionado durante toda su vida, con varios conjuntos de recuerdos y personalidades en su mente que trastocan la realidad de Desmond.

                                        Dentro del Animus, Desmond explora los recuerdos de una serie de Asesinos, incluyendo Altaïr Ibn - La'Ahad, un asesino Sirio inicialmente deshonrado obligado a cumplir misiones en pos de redimirse con la Orden durante la Tercera Cruzada; Ezio Auditore da Firenze, un asesino italiano que lucha contra los Borgia en una Italia Renacentista durante los siglos XV y XVI; y Ratohnhaké: ton, también conocido como Connor, hijo de una madre nativa-americana (Mohawk) y de un padre inglés que se une al Credo en busca de venganza por su pueblo durante la Revolución Americana. A través de estos eventos, Desmond aprende de alusiones a finales profética del mundo en 2012 de un anterior sujeto de pruebas del Animus, el Sujeto 16. El evento resulta ser una repetición de la catástrofe que acabó con la civilización antigua y se entera de que sus recuerdos son la clave para la supervivencia de la Tierra durante la segunda tormenta.

                                        Durante sus experiencias, Desmond es ayudado por las proyecciones holográficas de tres de los gobernantes de la antigua raza: Júpiter, Juno y Minerva. Después de que Desmond muere para asegurar la supervivencia de la Tierra, sus recuerdos, que han sobrevivido en el ciberespacio, son pirateados por una filial de Abstergo, Abstergo Entertainment, que contrata a un nuevo sujeto para que entre en el Animus. El nuevo sujeto revive los recuerdos de Edward Kenway, el abuelo de Connor Kenway, un corsario que se convirtió en pirata durante los años de la colonización británica en el Caribe.
                                    </p>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>



