@using BullardEncuestas.Helpers
@using BullardEncuestas.Helpers.Razor;

@{
    ViewBag.Title = "Encuesta";
    Layout = "~/Views/Shared/_LayoutOffLine.cshtml";
}
<section class="hbox stretch">
    <aside>
        <section class="vbox">
            <section class="scrollable padder">
                <div class="col-xs-12 col-md-12">
                    <h2>
                        @{ var mensaje = (TempData["MensajeEncuesta"] ?? "Su encuesta ha sido enviada con éxito muchas gracias.");}
                        @mensaje
                    </h2>
                </div>
            </section>
        </section>
    </aside>
</section>
